<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BancoPadrao" value="MySQL" />
	</appSettings>
  <connectionStrings>
    <add name="Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\banco.accdb" providerName="System.Data.OleDb"/>
    <add name="Excel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\myExcelFile.xlsx;Extended Properties=Excel 12.0 Xml;HDR=YES;" providerName="System.Data.OleDb"/>
	<add name="Firebird" connectionString="" providerName="" />
    <add name="PostGreSQL" connectionString="" providerName="" />
    <add name="MySQL" connectionString="Server=localhost;Database=cadastro;Uid=root;Pwd=gpxpst;Connect Timeout=30;" providerName="MySql.Data.MySqlClient" />
    <add name="SQLite" connectionString="Data Source=|DataDirectory|\Banco.db" providerName="Microsoft.Data.Sqlite" />
    <add name="SQLServer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=*MyDatabase*;Persist Security Info=True;User ID=*sa*;Password=*example.com*" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>